@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

/* GENERAL */
body {
	color: #080808;
	font-family: 'Yanone Kaffeesatz', helvetica,arial;
	font-size: 100%;
	height: 100%;
	background: #FFF;
	padding:32px;
}
.hidden{ display:none; }
#content { opacity:0; }
/* Best Ampersand */
span.amp, .horiz_widget_btn label span.amp, .vert_widget_btn label span.amp {
	font-family: Baskerville,GoudyBookletter1911Regular,'Goudy Old Style',Palatino,'Book Antiqua',serif;
	font-style: italic;
	padding: 0 !important;
	display: inline !important;
	position: static !important;
}
/* Text selection */
/* note: native and -moz MUST be seperated */
::selection {
	background: #FF9600; 
}
::-moz-selection {
	background: #FF9600; 
}
h1,h2{ text-align:center; }
.orange{ color:#DB1F05; }
.green{ color:#0FAA3D; }

b{ display:inline-block; background: #BBBFC2; width:24px; height:24px; padding:8px; border-radius:40px; }
b.a{ background:#D0DB05; }
b.b{ background:#0FAA3D; }
a{ color:#333; border-bottom:4px solid #DB1F05; }
a:hover { cursor:pointer; }

a.badge {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
	border:0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 288px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

a.badge:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.mac {
	margin: 16px auto;
	display: block;
	border: none;
	border-radius: 20px;
	padding: 5px 8px;
	color: #333;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
}

.mac:focus { 
	outline: none;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 5px 1px #51CBEE;
}

/* STYLES ON CRITERIA PAGES */

.light-bg-container {
	width: 97%;
	background: #FFF url('bg.png') repeat;
	height: 96%;
	position: absolute;
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;
	margin:0 auto;
	border: 5px solid #BBBFC2;
	-moz-border-radius: 5px !important;
 	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	color: #080808;
	font-size: 90%;
}


#criteria {
	width:480px;
	margin: 0 auto;
}

#criteria p {
	text-align:center;
}

#criteria ol li {
	font-size:1.4em;
	margin-bottom: 1em;
	line-height: 1.8em;
}

ul.criteria-no-style {
	list-style: none;
}

ul.criteria-no-style li {
		line-height: 1.2em;
		margin-bottom: 1em;
	}
	
	
/* BADGER FORM */
.badge-link-success {
	width: 50%;
	color: #1d751d;
	padding: 0 5em 1em 5em;
	font-weight: bold;
}

.badge-link-success a {
	color: #808080;
	text-decoration: none;
}

.badge-link-success a {
	color: #303030;
}

.badge-error {
	width: 50%;
	color: #990033;
	padding: 0 5em 0 5em;
}